.about {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 15px;
}

.about__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.about__list--2item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about .about__item--active1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .about__item--active3 {
  margin-left: 30px;
}

.about .about__item--span {
  color: #cfa543;
}

.nav {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__menu-item {
  list-style-type: none;
  margin-right: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.nav .nav__menu-item--active {
  color: #f36523;
}

.nav .nav__menu-button {
  padding: 10px 20px;
  background-color: #f36523;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}

.nav .burger-menu {
  display: none;
  width: 35px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.nav .burger-menu.active .burger-menu__line:nth-child(1) {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-transform: rotate(-45deg) translateY(14px);
          transform: rotate(-45deg) translateY(14px);
}

.nav .burger-menu.active .burger-menu__line:nth-child(2) {
  opacity: 0;
}

.nav .burger-menu.active .burger-menu__line:nth-child(3) {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-transform: rotate(45deg) translateY(-15px);
          transform: rotate(45deg) translateY(-15px);
}

.nav .burger-menu__line {
  width: 100%;
  height: 4px;
  background-color: black;
}

.mobile__menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  height: 0;
}

.mobile__menu.mobile__menu--active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  height: 100%;
}

.mobile__menu-items {
  list-style-type: none;
  text-align: center;
}

.mobile__menu-items .mobile__menu-item--active {
  color: white;
  background: #7799bc;
}

.mobile__menu-items .mobile__menu-item {
  margin-bottom: 20px;
  padding: 10px 0;
}

body {
  overflow-x: hidden;
}

a:focus {
  background: red;
  border: 3px solid blue;
}

button:focus {
  background: red;
  border: 3px solid blue;
}

section {
  padding: 0 10%;
}

.about-section {
  background-color: #7799bc;
}

.welcome__section {
  background-color: #f7d3c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.welcome__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.welcome__left h1 {
  font-size: 53px;
  line-height: 70px;
}

.welcome__left p {
  font-size: 17px;
  margin-top: 30px;
  max-width: 70%;
  line-height: 27px;
  margin-left: 0;
}

.welcome--button {
  margin-top: 45px;
  padding: 20px 37px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: #7799bc;
}

.welcome__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.welcome__right .slider {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: auto;
}

.welcome__right .slider__inner {
  position: absolute;
  left: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome__right .slider__image {
  position: relative;
  width: 400px;
  height: 400px;
}

.welcome__right .slider__image img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.welcome__right .slider__arrow {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 6px solid #f36523;
  border-left: 6px solid #f36523;
  z-index: 1;
}

.welcome__right .slider__arrow::after {
  content: "";
  display: block;
  width: 6px;
  height: 49px;
  background-color: #f36523;
  -webkit-transform: rotate(-45deg) translate(15px, 4px);
          transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}

.welcome__right .slider__arrow:hover {
  cursor: pointer;
}

.welcome__right .slider__arrow--left {
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.welcome__right .slider__arrow--right {
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

.welcome__right .slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.welcome__right .slider__dots .slider__dot {
  width: 10px;
  height: 10px;
  background: #f36523;
  margin: 0;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.welcome__right .slider__dots .slider__dot--active {
  opacity: 1;
}

.welcome__right .slider__dots .slider__dot:last-child {
  margin-right: 0;
}

.middle__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.middle__img {
  width: 100%;
}

.middle__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 40%;
  background-color: white;
}

.middle__content h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 22px;
  white-space: nowrap;
}

.middle__content h1 {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  white-space: nowrap;
}

.middle__content h1 span {
  color: #f36523;
}

.middle__content p {
  line-height: 26px;
}

.middle__content button {
  margin-top: 25px;
  border: none;
  background: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #353535;
}

.short__section__wrapper {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  width: 70%;
}

.short__section__wrapper h1 {
  font-size: 45px;
  padding-bottom: 50px;
}

.short__section__wrapper h1 span {
  color: #8b5a9c;
}

.short__section__wrapper p {
  line-height: 26px;
}

.card {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  padding-top: 20px;
}

.card__desc {
  text-align: center;
  width: 60%;
  padding-top: 10px;
  line-height: 25px;
}

.center__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.center__section .center__img {
  width: 100%;
}

.center__section .center__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 40%;
}

.center__section .center__content h3 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.center__section .center__content h1 {
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 40px;
  white-space: nowrap;
}

.center__section .center__content h1 span {
  color: #f36523;
}

.center__section .center__content p {
  line-height: 28px;
}

.center__section__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.center__section button {
  margin-top: 25px;
  border: none;
  background: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #353535;
}

.creativity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.creativity h3 {
  text-transform: uppercase;
  white-space: nowrap;
}

.creativity h1 {
  font-size: 50px;
  padding-top: 15px;
  padding-bottom: 50px;
  color: #f36523;
}

.creativity p {
  text-align: center;
  padding-bottom: 35px;
  line-height: 27px;
}

.creativity button {
  margin-top: 15px;
  border: none;
  background: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #353535;
}

.laptop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.laptop-outer {
  width: 1100px;
  position: relative;
}

.laptop-image {
  width: 100%;
}

.laptop-content {
  position: absolute;
  top: 46%;
  left: 50%;
  background: #7799BC;
  width: 75%;
  height: 86%;
  -webkit-transform: translate(-50%, -47%);
          transform: translate(-50%, -47%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  color: white;
  text-align: center;
}

.laptop-content p {
  margin: 15px 0;
}

.laptop-content img {
  width: 250px;
  margin-bottom: 20px;
}

.laptop-content button {
  padding: 10px 20px;
  background-color: #f36523;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}

.laptop-content-mobile {
  text-align: center;
  margin-top: 40px;
  display: none;
}

.laptop-content-mobile p {
  line-height: 26px;
}

.laptop-content-mobile button {
  margin-top: 40px;
  padding: 20px 40px;
  background-color: #f36523;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  white-space: nowrap;
}

.left-side {
  text-align: center;
  -webkit-transform: translate(0, -50%) rotate(-90deg);
          transform: translate(0, -50%) rotate(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  top: 50%;
  left: -10%;
}

.left-side-text:first-of-type {
  font-size: 30px;
}

.left-side-text:last-of-type {
  font-size: 50px;
  color: #006697;
}

.numbers__wrapper {
  margin-top: 60px;
  background-color: #E8C7A6;
}

.numbers__wrapper .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
}

.numbers__wrapper .numbers__top {
  background-color: #E8C7A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.numbers__wrapper .numbers__top .number__class {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.numbers__wrapper .numbers__top h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 70px;
  letter-spacing: 14px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers__wrapper .numbers__top P {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 7px;
}

.start__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F4B490;
  padding-top: 17px;
  padding-bottom: 17px;
}

.start__section h3 {
  color: white;
  white-space: nowrap;
}

.start__section button {
  padding: 18px 30px;
  margin-left: 50px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  color: #4288e4;
  background-color: #eeeeee;
  cursor: pointer;
  white-space: nowrap;
}

.form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FBFAFF;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form__wrapper .form__desc h1 {
  font-size: 40px;
  font-weight: 500;
}

.form__wrapper .form__desc h1 span {
  font-weight: bold;
}

.form__wrapper .form__desc p {
  font-weight: bold;
  margin-top: 15px;
}

.form__wrapper .form__form label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form__wrapper .form__form label input {
  padding: 30px;
  width: 450px;
  border: none;
  background-color: #e4e3de;
  color: #7f82aa;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}

.form__wrapper .form__form label button {
  position: absolute;
  color: black;
  padding: 25px;
  padding-right: 25px;
  border: none;
  background-color: #e4e3de;
  color: #5c5975;
  font-weight: 900;
}

@media (max-width: 1150px) {
  section {
    padding: 0 5%;
  }
  .laptop-wrapper {
    margin-top: 200px;
  }
  .laptop-wrapper .left-side {
    top: -110px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 1000px) {
  .nav .nav__menu {
    display: none;
  }
  .nav .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .middle__content {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}

@media (max-width: 880px) {
  .welcome__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 90px;
  }
  .welcome__section .welcome__right {
    margin-bottom: 10px;
  }
  .welcome__section .welcome__left {
    text-align: center;
  }
  .welcome__section .welcome__left p {
    max-width: initial;
  }
  .middle__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle__section .middle__content {
    width: 100%;
    text-align: center;
  }
  .middle__section .middle__content h1 {
    font-size: 40px;
  }
  .middle__section .middle__content h3 {
    font-size: 19px;
  }
  .middle__section .middle__img-holder {
    width: 50%;
  }
  .center__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 20px;
  }
  .center__section .center__content {
    width: 100%;
    text-align: center;
  }
  .center__section .center__content h1 {
    font-size: 40px;
  }
  .center__section .center__content h3 {
    font-size: 19px;
  }
  .center__section .center__img-holder {
    width: 50%;
  }
  .short__section__wrapper {
    width: 100%;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .card__wrap {
    margin-bottom: 50px;
  }
  .slider-wrapper {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  .creativity h3 {
    font-size: 15px;
  }
  .laptop-content h1 {
    font-size: 13px;
  }
  .laptop-content p {
    font-size: 11px;
  }
  .laptop-content img {
    width: 100px;
  }
  .laptop-content button {
    display: none;
  }
  .laptop-content p:last-of-type {
    display: none;
  }
  .laptop-content-mobile {
    display: block;
  }
  .start__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start__section h3 {
    margin-bottom: 15px;
    white-space: normal;
    text-align: center;
  }
  .start__section button {
    margin: 0;
  }
  .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__wrapper .form__desc {
    margin-bottom: 60px;
    text-align: center;
  }
  .form__wrapper .form__form {
    width: 100%;
  }
  .form__wrapper .form__form label input {
    width: 100%;
    background-color: white;
    border: 1px solid #e5e0f8;
    font-size: 18px;
  }
  .form__wrapper .form__form label button {
    background-color: transparent;
  }
}

@media (max-width: 770px) {
  .about-section {
    display: none;
  }
  .nav__image {
    width: 200px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}
/*# sourceMappingURL=style.css.map */